<!DOCTYPE html>
<html>
<head>
  <title>Tapsy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.tapsyAssets = {
      beer_login: "<%= image_url("beer_login.jpg") %>",
      mug_icon: "<%= image_url("mug_icon.png") %>"
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
