<!DOCTYPE html>
<html>
<head>
  <title>Tapsy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.tapsyAssets = {
      beer_login: "<%= image_url("beer_login.jpg") %>",
      mug_icon: "<%= image_url("mug_icon.png") %>",
      temp_avatar: "<%= image_url("temp_avatar.png") %>",
      beer_glass: "<%= image_url("beer_glass.png") %>",
      checkin_photo: "<%= image_url("checkin_photo.png") %>",
      close_modal: "<%= image_url("close_modal.png") %>",
      default_avatar: "<%= image_url("default_avatar.png") %>",
      mag_glass: "<%= image_url("mag_glass.png") %>",
      ratings: "<%= image_url("ratings.png") %>",
      remove_icon: "<%= image_url("remove_icon.png") %>",
      small_user_icon: "<%= image_url("small_user_icon.png") %>",
      taps: "<%= image_url("taps.jpg") %>",
      add_icon: "<%= image_url("add_icon.png") %>",
      user_icon_white: "<%= image_url("user_icon_white.png") %>",
      genericbeercan: "<%= image_url("genericbeercan.jpg") %>"
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
